
/* global */
.marginTop32
{
    margin-top: 32px;
}

.marginTop64
{
    margin-top: 64px;
}

.padding32
{
    padding: 32px;
}

.marginleft32
{
    margin-left: 32;
}

/* nav bar */

.heroBackGroundImageSvg
{
    background-color: #0D1F40;
    width: auto;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 64px;

}

.blueBoxImg
{
    width: auto;
    height: 300px;
}



/* top nav */

.navLogo
{
    width:auto;
    height:80px; 
}

.logoText
{
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding-left: 40px;
}


.otherTopNavText
{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 32px;
}


.floatRight
{
    display: flex; 
    justify-content: flex-end;
}






/* after nav */

.heroBackGroundImageKeyboard
{
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}



.mainCenterText
{
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 1px 8px #000000 ;
    text-align: center;
    
}



.mainCenterText2
{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-shadow: 0px 1px 8px #000000 ;
    text-align: center;
    margin-top: 32px;
    
}




.lineAtCenterHero
{
    width: 50vw;
    height: 4px;
    border: 1px solid #a8191e;
    background-color: #a8191e;
    border-radius: 24px;
    box-shadow: 0px 1px 24px #a71313 ;
}







/* purpose container */

.purposeContainer
{
    height: 500px;
    background-image: linear-gradient(#1D2528, rgb(0, 0, 0) , black);;
}

.purposeMainText
{
    color: #ED1C24;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 32px;

}


.purposeOtherText
{
    color: white;
    font-size: 1.25rem;
    margin-left: 64px;
}

.purposeImg
{
    height: 256px;
    margin-top: 64px;
}


.eventsContainer
{
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: fit-content;

}


.eventsImg
{
    height: 256px;
    margin-top: 128px;
}

.eventsMainText
{
    color: #ED1C24;
    text-align: center;
    font-size: 3rem;
    margin-top: 64px;
    margin-bottom: 32px;
}

.eventsOtherText
{
    color: white;
    font-size: 1.25rem;
    margin-right: 64px;
    filter: brightness(120%);
}

.eventsKnowMoreButton
{
    background-color: #ED1C24;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 16px;
    margin-bottom:32px;
}



